* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;

}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500 &display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
    background-image: radial-gradient(#444cf7 0.55px, #e5e5f7 0.55px);
}
.navbar {
    height: 60px;
    padding: 0;
    background-color: rgb(15, 15, 68);
    overflow: hidden;
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 11;
    cursor: pointer;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
    padding-left: 0;
}
a{
    color: rgb(255 255 255);
    text-decoration: none;
}
P{
    margin-bottom: 0;
}
.navlist {
    background-color: rgb(15, 15, 68);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navlist li {
    list-style: none;
    padding: 17px 30px;

}

.navlist li a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Verdana;
    transition: all 0.2s ease-in-out;
}
.navlist li a:hover {
    background: rgba(252, 252, 252, 0.308);
    border-radius: 10px;
    padding: 05px 10px;
    font-size: 19px;
    color: rgb(255, 255, 255);
}
.background1{
    background-color: rgb(15, 15, 68);
    background-size: cover;
}
.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4%;
    align-items: center;
    padding-bottom: 20px;
}
.box-main {
    display: flex;
    justify-content: center;
    align-items: center;

}
.firsthalf {
    display: flex;
    justify-content: center;
}

.firsthalf img {
    position: relative;
    z-index: 2;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
}
.secondhalf {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title {
    text-align: center;
    font-size: 62px;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
    text-shadow: 0 0 6px #2f3453;
}
.dialog {
    color: whitesmoke;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 29px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.back2 {
    flex-direction: column;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#444cf7 0.55px, #e5e5f7 0.55px);
}
.Secleft {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}
.para {
    text-align: center;
    padding-left: 0%;
}
.abouttitle {
    font-size: 35px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color: rgb(10, 10, 56);
}
.abouttext {
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 20px;

}
.video{
    margin: 30px;
    max-width: 700px;
}
.video video{
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(10, 10, 56, 0.705);
}

.end{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 15, 68);
}
.frame{
    width: 50%;
    background-color: rgb(15, 15, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
.map{
    max-width: 92%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(2, 2, 2, 0.336);
}
.icons{
    background-color: rgb(15, 15, 68);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.cont{
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: rgb(15, 15, 68);
    justify-content: center;
    align-items: center;
    font-size: 44px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.address h1{
    font-size: 24px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: seashell;
}
.address p{
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: seashell;
}
.address{
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 1%;
}   
.whatsapp{
    padding-top: 40px;
    text-decoration: none;
    list-style: none;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatsapp li{
    color: seashell;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.whatsapp img{
    margin-right: 20px;
    width: 70px;
}
.facebook{
    padding-top: 30px;
    text-decoration: none;
    list-style: none;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook li{
    color: seashell;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.facebook img{
    margin-bottom: 10px;
    width: 20%;
}
.al:hover{
    text-decoration: underline;
}
.burger{
    position: absolute;
    right: 5%;
    top: 7px;
    display: none;
    background-color: rgb(8, 8, 36);
}
.line{
    background-color: rgb(255, 255, 255);
    margin: 5px 3px;
    width: 33px;
    height: 4px;
}

.facilities{
      text-align: center;
      max-width: 85vw;
      margin: auto;
      background-image: radial-gradient(#444cf7 0.55px, #e5e5f7 0.55px);
  }
.card{
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(10, 10, 56, 0.253);
    
  }
.col:hover{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(10, 10, 56, 0.61);
    transition: all 0.2s ease-in-out;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}
#facilities, #contact{
    height: 10vh;
}
.display-1{
    line-height: 2.2;
}
.card-title{
    font-size: larger;
}
.row{
    justify-content: center;
}
@media screen and (min-width: 600px) {
    .card-tall {
      grid-row: span 2 / auto;
    }
  
    .card-wide {
      grid-column: span 2 / auto;
    }
  }
@media only screen and (max-width: 548px) {
    .navbar{
        background-color: rgb(8, 8, 36);
        -webkit-tap-highlight-color: transparent;
        height: 247px;
        transition: all 0.3s ease-in-out;
    }
    .navlist{
        background-color: rgb(8, 8, 36);
        -webkit-tap-highlight-color: transparent;
        transition: all 0.4s ease-in-out;
        flex-direction: column;
    }
    .burger{
        background-color: rgb(8, 8, 36);
        -webkit-tap-highlight-color: transparent;
        display: block;
    }
    .h-nav-resp{
        height: 46px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .end{
        flex-direction: column;
    }
    .frame{
        width: 90%;
        height: 50vh;
    }
    .map{
        height: 60%;
        margin-bottom: 0%;
    }
    .icons{
        width: 90%;
    }
    .facebook{
        flex-direction: column-reverse;
        text-align: left;
    }
    .facebook img{
        width: 42%;
    }
    .al{
        text-align: center;
        font-size: 16px;
    }
    .cont{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 30px;
    }
    .Secleft{
        max-width: 95%;
    }
    .firsthalf img {
        width: 225px;
    }
    .firstSection{
        padding-bottom: 20px;
    }
    .back2{
        padding-top: 20px;
        height: auto;
    }
    .facilities{
        font-size: 18px;
    }
    .head{
      font-size: 52px;
    }
}